
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');body {
font-family: "Syne";
max-width: 460px;
color:#44589C;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

h1 {
font-weight: 700;    
}

.btnContainer {
text-align: center;
}

.btn-primary {
font-family: "syne";
font-weight: 600;
font-size: 20px;
background-color: #44589C;
color: white;
padding: 14px;
padding-right: 30px;
padding-left: 30px;
border: none;
border-radius: 30px;
cursor: pointer;
margin-top: 35px;
}

.btn-primary:hover{
background-color: #E89900;
transition-duration: 0.25s;
}
